extends: default

rules:
  truthy:
    level: error
    allowed-values: ['true', 'false']
  document-start:
    level: error
    present: true
  line-length:
    max: 120
    allow-non-breakable-words: true
    level: warning
  trailing-spaces: { level: error }

ignore: |
  # none
