<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.02luka.expense.ocr</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>-l</string>
    <string>-c</string>
    <string>/Users/icmini/02luka/tools/expense/ocr_and_append.zsh</string>
  </array>
  <key>WatchPaths</key>
  <array>
    <string>/Users/icmini/02luka/g/inbox/expense_slips</string>
  </array>
  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key><string>/Users/icmini/02luka/g/logs/expense_ocr.out.log</string>
  <key>StandardErrorPath</key><string>/Users/icmini/02luka/g/logs/expense_ocr.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
</dict></plist>
