name: Workflow Lint

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  workflow_lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install actionlint
        run: |
          curl -sSL https://raw.githubusercontent.com/rhysd/actionlint/main/scripts/download-actionlint.bash \
            | bash -s -- -b ./bin
          ls -l ./bin

      - name: Lint GitHub workflows
        run: |
          ./bin/actionlint -color
